<a href="#!cadastro_novo" class="btn btn-warning"> Cadastrar Clientes</a>
<a href="#!meu_usuario" class="btn btn-warning"> Meu Usuario</a>
<a href="#!clientes" class="btn btn-warning"> Clientes </a>
<a href="#!login" class="btn btn-warning"> Login </a>
<a href="#!exercicios" class="btn btn-warning"> Exercicios </a>
<a href="#!calcule_imc" class="btn btn-warning"> Calcule IMC </a>



<div ng-app="aplicacao" ng-controller="ExerCrtl" ng-init="VerificarUsuario()">Logado : {{usuario_autenticacao}}


    <div class="container">

        <div class="my-3 p-2">
            <h2>Exercícios Modalidades</h2>

            <h3> Modalidade Aerobico</h3>
            O exercício aeróbico é aquele que usa o oxigênio no processo de geração de energia cósmica dos músculos.
            Esse tipo
            de exercício trabalha uma grande quantidade de grupos musculares de forma rítmica. Andar, correr, nadar,
            pedalar,
            dançar, são alguns dos principais exemplos de exercícios aeróbicos.
            <br>
            <a href="#!exercicios_aerobicos" class="btn btn-warning"> Exercícios Aerobicos</a>

        </div>

        <div class="my-3 p-2">
       <br>
            <h3> Modalidade musculação</h3>
            A musculação é um treino de força que consiste no levantamento de pesos, seja com halteres ou aparelhos
            específicos.
            Seu objetivo é a hipertrofia dos músculos. Porém, a boa execução dos exercícios e alguns truques fazem a
            diferença
            para obter melhores resultados.
            <br>
            <a href="#!exercicios_musculacao" class="btn btn-warning"> Exercícios Musculação</a>

        </div>

    </div>
</div>
