{{nome}}
<br>

<a href="#!cadastro_novo" class="btn btn-warning"> Cadastrar Clientes</a>
<a href="#!meu_usuario" class="btn btn-warning"> Meu Usuario</a>
<a href="#!clientes" class="btn btn-warning"> Clientes </a>
<a href="#!login" class="btn btn-warning"> Login </a>
<a href="#!exercicios" class="btn btn-warning"> Exercicios </a>
<a href="#!calcule_imc" class="btn btn-warning"> Calcule IMC </a>


<div ng-app="aplicacao" ng-controller="MainCtrl" ng-init="VerificarUsuario()">


    Logado : {{usuario_autenticacao}}
    
    
    
    </div>